---
- name: Prepare host for 5G k8s deployment
  hosts: all
  gather_facts: true
  vars_files:
    - vars.yml

  tasks:
    - name: Add Docker Module Repository
      become: true
      ansible.builtin.deb822_repository:
        name: docker
        types: [deb]
        uris: 'https://download.docker.com/linux/{{ ansible_facts["distribution"] | lower }}'
        signed_by: 'https://download.docker.com/linux/{{ ansible_facts["distribution"] | lower }}/gpg'
        suites: ['{{ ansible_facts["distribution_release"] | lower }}']
        components: [stable]
        state: present
        enabled: true

    - name: Install apt-packages and Docker
      become: true
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
        update_cache: true
        allow_downgrade: true
      loop: "{{ apt_packages }}"
      retries: 5
      delay: 5

    - name: Ensure docker service is enabled and started
      become: true
      ansible.builtin.systemd:
        name: docker
        enabled: true
        state: started
        daemon_reload: true

    - name: Add specified users to docker group
      become: true
      ansible.builtin.user:
        name: "{{ item }}"
        groups: docker
        append: true
      loop: "{{ docker_users }}"
      when: docker_users is defined

    - name: Ensure dir exists
      become: true
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - /usr/local/bin
        - /opt/cni/bin/

    - name: Curl packages
      become: true
      ansible.builtin.get_url:
        url: "{{ item.link }}"
        dest: "/usr/local/bin/{{ item.filename }}"
        mode: "0755"
        force: true
      loop: "{{ curl_packages }}"
      retries: 5
      delay: 5

    - name: Download ZIP tarball
      ansible.builtin.get_url:
        url: "{{ item.url }}"
        dest: "{{ item.dest }}"
        mode: "0644"
        force: true
      loop: "{{ zips }}"
      retries: 5
      delay: 5

    - name: Extract tarball
      become: true
      ansible.builtin.unarchive:
        src: "{{ item.dest }}"
        dest: "{{ item.unpack_dir }}"
        remote_src: true
        mode: "0777"
      loop: "{{ zips }}"

    - name: Move binary to our locations
      become: true
      ansible.builtin.copy:
        src: "{{ item.tool_path }}"
        remote_src: true
        dest: "/usr/local/bin/{{ item.binary }}"
        mode: "0777"
      loop: "{{ zips }}"
      when: item.binary is defined

    # - name: Start minikube cluster
    #   become: true
    #   become_user: "vagrant"
    #   ansible.builtin.command: minikube start --wait=all --driver=docker
    #   changed_when: true

    # - name: Deploy open5gs and ueranism
    #   kubernetes.core.helm:
    #     release_name: "{{ item.name }}"
    #     # for OCI charts, the reference is everything,
    #     # so you don't need the chart_repo_url
    #     chart_ref: "{{ item.repo_url }}"
    #     release_state: present
    #     # the blog mentions nothing of this, so I'd take the default
    #     release_namespace: "default"
    #     chart_version: "{{ item.version }}"
    #     wait: true
    #     values_files:
    #       - "{{ item.values_path }}"
    #   loop: "{{ helm_packages }}"
