serviceAccount:
  create: true
  name: fluent-bit

rbac:
  create: true

daemonSetVolumes:
  - name: varlog
    hostPath:
      path: /var/log

daemonSetVolumeMounts:
  - name: varlog
    mountPath: /var/log

config:
  filters: |
    # Attach Kubernetes metadata
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Keep_Log Off
        Labels On
        Annotations Off

    # ONLY logs from default namespace
    [FILTER]
        Name grep
        Match kube.*
        Regex kubernetes['namespace_name'] ^default$

    # Normalize fields
    [FILTER]
        Name modify
        Match kube.*
        Rename kubernetes['namespace_name'] namespace
        Rename kubernetes['pod_name'] pod
        Rename kubernetes['container_name'] container

    # Add node name
    [FILTER]
        Name modify
        Match kube.*
        Add node ${HOSTNAME}

  outputs: |
    [OUTPUT]
        Name file
        Match kube.*
        Path /var/log/cluster-logs/
        File default.log

    [OUTPUT]
        Name        loki
        Match       kube.*
        Host        loki.monitoring.svc.cluster.local
        Port        3100
        Auto_Kubernetes_Labels on
