alertmanager:
  enabled: false

## Using default values from https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
##
grafana:
  enabled: true
  # i don't want any source as default that i didn't set!
  forceDeployDatasources: false
  ## Timezone for the default dashboards
  ## Other options are: browser or a specific timezone, i.e. Europe/Luxembourg
  ##
  defaultDashboardsTimezone: browser

  # use NodePort for stability!
  # port-forwarding crashes every now and then
  service:
    type: NodePort
    nodePort: 30000

  # Administrator credentials when not using an existing secret (see below)
  adminUser: admin
  adminPassword: admin

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://kps-kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
          access: proxy
        - name: loki
          type: loki
          url: http://loki.monitoring.svc.cluster.local:3100
          editable: false

  dashboardsProvider:
    enabled: true
    providers:
      - name: "open5gs"
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        updateIntervalSeconds: 5
        options:
          path: /var/lib/grafana/dashboards/open5gs

  sidecar:
    datasources:
      enabled: false
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValue: "1"
      folder: /var/lib/grafana/dashboards

prometheus:
  prometheusSpec:
    # i am too lazy for label filtering, so I just let prometheus discover
    # every service monitor in its namespace
    serviceMonitorSelectorNilUsesHelmValues: false
