alertmanager:
  enabled: false

## Using default values from https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
##
grafana:
  enabled: true
  ## Timezone for the default dashboards
  ## Other options are: browser or a specific timezone, i.e. Europe/Luxembourg
  ##
  defaultDashboardsTimezone: browser

  # Administrator credentials when not using an existing secret (see below)
  adminUser: admin
  adminPassword: admin

  ## Configure additional grafana datasources (passed through tpl)
  ## ref: https://grafana.com/docs/grafana/latest/administration/provisioning/#datasources
  additionalDataSources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://kps-kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
      isDefault: false
    - name: Loki
      type: loki
      access: proxy
      isDefault: false
      url: http://loki.monitoring.svc.cluster.local:3100

  dashboardsProvider:
    enabled: true
    providers:
      - name: "open5gs"
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        updateIntervalSeconds: 5
        options:
          path: /var/lib/grafana/dashboards/open5gs

  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValue: "1"
      folder: /var/lib/grafana/dashboards

prometheus:
  prometheusSpec:
    # i am too lazy for label filtering, so I just let prometheus discover
    # every service monitor in its namespace
    serviceMonitorSelectorNilUsesHelmValues: false
# TODO: figure out how to configure 5G application. Main goal is to build something configurable!
# can also have something behind the 5g netw that generates traffic!
