gateway:
  enabled: true

chunksCache:
  enabled: false

resultsCache:
  enabled: false

loki:
  auth_enabled: false
  commonConfig:
    # Single-replica Loki
    replication_factor: 1
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage:
    type: filesystem
  limits_config:
    retention_period: 168h # 7 days retention
deploymentMode: SingleBinary
singleBinary:
  replicas: 1
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
