[Unit]
Description=Minikube Kubernetes Cluster
After=docker.service
Wants=docker.service

[Service]
User=vagrant
ExecStart=/usr/local/bin/minikube start --wait=all --driver=docker
Restart=always
ExecStop=/usr/local/bin/minikube stop

[Install]
WantedBy=multi-user.target