apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: open5gs-amf
  namespace: open5gs
  labels:
    release: kps
spec:
  selector:
    matchLabels:
      nf: amf
  namespaceSelector:
    matchNames:
      - open5gs
  endpoints:
    - port: metrics
      interval: 5s
  # the service doesn't send a Content-Type when replying
  # so fall back to assuming text/plain (which it is)
  fallbackScrapeProtocol: "PrometheusText0.0.4"
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: open5gs-smf
  namespace: open5gs
  labels:
    release: kps
spec:
  selector:
    matchLabels:
      nf: smf
  namespaceSelector:
    matchNames:
      - open5gs
  endpoints:
    - port: metrics
      interval: 5s
  # the service doesn't send a Content-Type when replying
  # so fall back to assuming text/plain (which it is)
  fallbackScrapeProtocol: "PrometheusText0.0.4"
